[submodule "wxWidgets"]
	path = wxWidgets
	url = https://github.com/wxWidgets/wxWidgets.git
[submodule "kicad"]
	path = kicad
	url = https://git.launchpad.net/kicad
[submodule "SparkFun-KiCad-Libraries"]
	path = SparkFun-KiCad-Libraries
	url = https://github.com/sparkfun/SparkFun-KiCad-Libraries
[submodule "digikey-kicad-library"]
	path = digikey-kicad-library
	url = https://github.com/digikey/digikey-kicad-library.git
[submodule "kicad-3d-models-in-freecad"]
	path = kicad-3d-models-in-freecad
	url = https://github.com/easyw/kicad-3d-models-in-freecad
[submodule "kicad-symbols"]
	path = kicad-symbols
	url = https://github.com/KiCad/kicad-symbols.git
