[submodule "wxWidgets"]
	path = wxWidgets
	url = https://github.com/wxWidgets/wxWidgets.git
[submodule "kicad"]
	path = kicad
	url = https://git.launchpad.net/kicad
[submodule "SparkFun-KiCad-Libraries"]
	path = SparkFun-KiCad-Libraries
	url = https://github.com/sparkfun/SparkFun-KiCad-Libraries
